# dependencies
node_modules

# build output
dist
dist-ssr

# env
.env
.env.local
.env.*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea

# typescript build cache
*.tsbuildinfo

# logs
*.log
npm-debug.log*

# os
.DS_Store
